* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(249, 251, 252); */
   /* background-color: rgb(15, 82, 182); */
   background-color: rgba(164, 136, 165, 0.881);
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  flex-wrap: wrap;
}

.heading {
  width: 100vw;
  font-weight: 400;
  /* background: -webkit-linear-gradient(rgba(1, 102, 255, 0.683), rgba(122, 153, 160, 0.753)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-color: brown;
}